<template>
  <v-app>
    <v-container>
      <v-row>
        <v-col cols="4" class="d-flex justify-center align-center">
          <div class="pa-2">
            <h3 class="pb-2">Average amount of visitors</h3>
            <p>
              {{ dayOfWeek() }}
            </p>
          </div>
        </v-col>
        <v-col id="arc" />
        <v-col cols="4" class="d-flex justify-center align-center">
        <div>
          <div class="pa-2">
           <label for="checkbox">Mobilia</label>
           <input type="checkbox" id="mobilia-checkbox" checked="mobiliaSelected" v-on:click="selectMobilia">
          </div>
          <div class="pa-2">
           <label for="checkbox">Malmö City</label>
           <input type="checkbox" id="moalmocity-checkbox" v-on:click="selectMalmoCity">
          </div>
          <div class="pa-2">
           <label for="checkbox">Entré</label>
           <input type="checkbox" id="entre-checkbox" v-on:click="selectEntre">
          </div>
          <div class="pa-2">
           <label for="checkbox">Västra hamnen</label>
           <input type="checkbox" id="vastrahamnen-checkbox" v-on:click="selectVastraHamnen">
          </div>
          <div>
          <div class="pa-2">
           <label for="checkbox">Triangeln</label>
           <input type="checkbox" id="triangeln-checkbox" v-on:click="selectTriangeln">
          </div>
          </div>
          <div class="pa-2" v-show="isToday()">
           <label for="checkbox">Show visits from today</label>
           <input type="checkbox" id="showactualload-checkbox" checked="showActualLoad" v-on:click="toggleShowActualLoad">
          </div>
        </div>
        </v-col>
        <v-col cols="4" class="d-flex justify-center align-center">
          <div class="pa-2">
           <button v-on:click="previousDay()">Previous day</button>
           <button v-on:click="nextDay()">Next day</button>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>

<script>
import * as d3 from "d3";
import axios from 'axios';

export default {
  name: "App",
  data() {
    return {
      days: ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"],
      malmöCity: 515,
      mobilia: 566,
      entré: 532,
      västraHamnen: 560,
      triangeln: 629,
      centers: {},
      centersToday: {},
      selectedDay: 0,
      malmoCitySelected: false,
      mobiliaSelected: true,
      entreSelected: false,
      vastraHamnenSelected: false,
      showActualLoad: true
    };
  },
  async mounted() {
    const allCenterIds = [this.malmöCity, this.mobilia, this.entré, this.västraHamnen, this.triangeln];

    this.selectedDay = this.getCurrentDay();

    for(const id of allCenterIds) {
      const data = (await axios.get(`/api/sats/averages/${id}`)).data;
      this.centers[id] = data;
    }

    this.generateArc();
  },
  methods: {
    getCurrentDay() {
       const day = (new Date().getDay() -1) % this.days.length;
       if (day < 0) {
         return this.days.length - 1;
       }
       return day;
     },
    dayOfWeek() {
      return this.days[this.selectedDay];
    },
    isToday() {
      return this.selectedDay === this.getCurrentDay();
    },
    previousDay() {
      const day = ((this.selectedDay - 1) % this.days.length);
      if (day >= 0) {
        this.selectedDay = day;
      } else {
        this.selectedDay = this.days.length - 1
      }
      this.generateArc();
    },
    nextDay() {
      this.selectedDay = (this.selectedDay + 1) % this.days.length;
      this.generateArc();
    },
    selectMalmoCity(event) {
      this.malmoCitySelected = event.target.checked;
      this.generateArc();
    },
    selectMobilia(event) {
      this.mobiliaSelected = event.target.checked;
      this.generateArc();
    },
    selectEntre(event) {
      this.entreSelected = event.target.checked;
      this.generateArc();
    },
    selectVastraHamnen(event) {
      this.vastraHamnenSelected = event.target.checked;
      this.generateArc();
    },
    selectTriangeln(event) {
      this.triangelnSelected = event.target.checked;
      this.generateArc();
    },
    toggleShowActualLoad(event) {
      this.showActualLoad = event.target.checked;
      if (this.isToday()) {
        this.generateArc();
      }
    },
    async generateArc() {
      const margin = {top: 10, right: 30, bottom: 30, left: 60};
      const width = 800;
      const height = 500;

      const centerIds = [];

      if (this.mobiliaSelected){
        centerIds.push(this.mobilia);
      }
      if (this.entreSelected){
        centerIds.push(this.entré);
      }
      if (this.malmoCitySelected){
        centerIds.push(this.malmöCity);
      }
      if (this.vastraHamnenSelected){
        centerIds.push(this.västraHamnen);
      }
      if (this.triangelnSelected){
        centerIds.push(this.triangeln);
      }
      const names = {}
      names[this.mobilia] = "Mobilia"
      names[this.malmöCity] = "Malmö City"
      names[this.entré] = "Entré"
      names[this.västraHamnen] = "Västra hamnen"
      names[this.triangeln] = "Triangeln"

      const colors = {}
      colors[this.malmöCity] = "steelblue",
      colors[this.mobilia] = "#00db0b"
      colors[this.entré] = "#eb4034"
      colors[this.västraHamnen] = "#f5c542"
      colors[this.triangeln] = "#eeeeee"

      const minHour = 6;
      const maxHour = 21;
      var xScale = d3.scaleLinear()
         .domain([minHour, maxHour])
         .range([0, width ]);

      var yScale = d3.scaleLinear()
         .domain([0, 1])
         .range([ height, 0 ]);

      d3.select("#arc").selectAll("*").remove();

      const svg = d3
        .select("#arc")
        .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
          .append("g")
          .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");

      svg.append("g")
         .attr("transform", "translate(0," + height + ")")
         .call(d3.axisBottom(xScale));

      svg.append("g").call(d3.axisLeft(yScale));

      const dotOffsetX = margin.left / 2
      const dotOffsetY = margin.left / 4
      const distanceBetweenDots = margin.left / 3
      const radius = 5
      svg.selectAll("mydots")
        .data(centerIds)
        .enter()
        .append("circle")
          .attr("cx", dotOffsetX)
          .attr("cy", function(d,i){ return dotOffsetY + i * distanceBetweenDots})
          .attr("r", radius)
          .style("fill", function(d){ return colors[d] });

      svg.selectAll("mylabels")
        .data(centerIds)
        .enter()
        .append("text")
          .attr("x", dotOffsetX + 10)
          .attr("y", function(d,i){ return dotOffsetY + i * distanceBetweenDots})
          .style("fill", function(d){ return colors[d]})
          .text(function(d){ return names[d]})
          .attr("text-anchor", "left")
          .style("alignment-baseline", "middle")

      for(const id of centerIds) {
        const hours = this.centers[id]["days"][this.selectedDay]["hours"];
        this.addLine(svg, xScale, yScale, hours, colors[id]);
      }

      for(const id of centerIds) {
        if (!this.centersToday[id]) {
          this.centersToday = (await axios.get(`/api/sats/today`)).data;
        }
        if (this.showActualLoad && this.isToday()) {
          this.addCurrentDayLine(svg, xScale, yScale, this.centersToday[id], colors[id]);
        }
      }

  },
  addLine(svg, xScale, yScale, hours, color) {
     svg.append("path")
       .datum(hours)
       .attr("fill", "none")
       .attr("stroke", color)
       .attr("stroke-width", 2)
       .attr("d", d3.line()
         .x(function(dataPoint) { return xScale(dataPoint["hourNumber"]) })
         .y(function(dataPoint) { return yScale(dataPoint["averageLoad"]) })
         )
  },
  addCurrentDayLine(svg, xScale, yScale, hours, color) {
       svg.append("path")
         .datum(hours)
         .attr("fill", "none")
         .attr("stroke", color)
         .attr("stroke-width", 2)
         .style("stroke-dasharray", ("16, 16"))
         .attr("d", d3.line()
           .x(function(dataPoint) { return xScale(dataPoint["hourNumber"]) })
           .y(function(dataPoint) { return yScale(dataPoint["actualLoadFactor"]) })
           )
  }
}
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
